// Here you can add other styles
.text-danger{font-size:12px;}
.datepicker {width:100%; }

.react-date-picker__wrapper {
    min-height: 35px; border-radius: 4px !important;
    border: thin solid rgb(128 128 128 / 30%) !important; z-index: 99;
}
.ql-editor { min-height: 80px;}